<div ng-controller="myAppPortfoliosCtrl">
  <top-bar class="fixed">
    <ul class="title-area">
      <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
    </ul>
    <top-bar-section>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">Active</a></li>
        <li has-dropdown>
          <a href="#">Dropdown</a>
          <ul top-bar-dropdown>
            <li><a href="#">First link in dropdown</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Left</a></li>
      </ul>
    </top-bar-section>
  </top-bar>


 <p>{{bratsaki}}</p>

  <!-- Gia ti metavliti thumbs (dikia mou) sta dedomena pou erxontai apo to controller me metavliti antonis -->
  <!-- Tipose to parakato kommati tou JSON-->
<div ng-repeat="thumbs in img"> 
  
  <img ng-src="http://itworx.gr/view_inc1.asp?id=2&thumb=1&img={{thumbs.img}}">
  <p>{{thumbs.type}}</p>
</div>
<div>
    <img ng-src="http://itworx.gr/view_inc1.asp?id=2&thumb=1&img={{img[0].img}}">
    <img ng-src="http://itworx.gr/view_inc1.asp?id=2&thumb=1&img={{img[0].img_thum}}">
</div>
<div>
  <img ng-src="http://itworx.gr/view_inc1.asp?id=5&thumb=1&img={{img[4].img}}">
</div>

</div>