<!-- TOP SLIDESHOW -->
    <div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item"><img src="client/img/waves.png" alt="Shype app">
          <div class="large-12 medium-12 small-12 columns slide-h2"><h2>{{title_en[14].title_en}}</h2></div><br><br><br><br><br><br><br><br><br>
          <ul class="slide-ul">
            <li class="no-bullet">{{message_en[14].message_en}}</li>
            <li>{{details1_en[14].details1_en}}</li>
            <li>{{details2_en[14].details2_en}}</li>
            <li>{{details3_en[14].details3_en}}</li>
            <li>{{details4_en[14].details4_en}}</li>
          </ul>
          <div id="slideimg1" class="large-5 columns"><img ng-src="{{img[14].img}}" alt="{{img[14].img}}"></div>
      </div>
      <div class="item"><img src="client/img/waves.png" alt="SOUL App">
          <div class="large-12 medium-12 small-12 columns slide-h2"><h2>SOUL the most beatiful greek magazine!</h2></div><br><br><br><br><br><br><br><br><br>
          <ul class="slide-ul">
            <li class="no-bullet">Now available for iPhone &amp; iPad. See inside:</li>
            <li>All SOUL covers</li>
            <li>Articles and editorials</li>
            <li>Current songs</li>
            <li>iPad edition of the Application</li>
          </ul>
        <div id="slideimg2" class="large-5 columns"><img src="img/soul_bn.png" alt="SOUL App"></div>
      </div>
      <div class="item"><img src="client/img/waves.png" alt="Solt website">
          <div class="large-12 medium-12 small-12 columns slide-h2"><h2>Custom Made Corporate Webs</h2></div><br><br><br><br><br><br><br><br><br>
          <ul class="slide-ul">
            <li class="no-bullet">Solis Tractors greek website.</li>
            <li>Custom Designed</li>
            <li>Developed in ASP.net MVC</li>
            <li>Designed to promote your products</li>
            <li>iPhone/iPad &amp; Android Apps</li>
          </ul>
        <div id="slideimg3" class="large-5 columns"><img src="img/sollt.png" alt="Solt website"></div>
      </div>
      <div class="item"><img src="client/img/waves.png" alt="ITWorx applications">
          <div class="large-12 medium-12 small-12 columns slide-h2"><h2>Beautiful Applications</h2></div><br><br><br><br><br><br><br><br><br>
          <ul class="slide-ul">
            <li class="no-bullet">Order your app at ITworx!</li>
            <li>Modern Design</li>
            <li>Instant Support</li>
            <li>A company you can trust</li>
            <li>iPhone/iPad &amp; Android Apps</li>
          </ul>
        <div id="slideimg4" class="large-5 columns"><img src="img/app.png" alt="ITWorx applications"></div>
      </div>
    </div>